{%extends 'base.html' %}
{%block title%}Posts{%endblock%}
{%load static%}
{% load markdown_tags %}
{%block content%}
<div class="container">
    <!-- Хлебные крошки -->
    <nav class="breadcrumb" aria-label="breadcrumb">
        <a href="{% url 'ideas:detail' pk=idea_id %}"
           title="{{ idea_title }}"> {{ idea_title|truncatechars:25 }} </a>
        <span>Посты</span>
    </nav>
    {% if posts%}
    {% include 'partials/_post_list.html' with posts=posts%}
    {% else%}
    <h3>Список постов пока пуст</h3>
    {% endif%}

</div>
{%endblock%}
