.idea-list-board {
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--space-m);
}

.idea-item {
    display: flex;
    gap: var(--space-m);
    justify-content: space-between;
    padding: var(--space-s) var(--space-xs);
}

.idea-item-content {
    gap: var(--space-xs);
}

.idea-item-btn {
    min-width: 300px;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--space-xs);
}

.idea-info-block {
    display: flex;
    gap: var(--space-l);
}

.idea-title-link {
    color: var(--link-color);
}

.idea-title-link:hover {
    text-decoration: underline;
}

.idea-item-about {
    max-width: 900px;
    display: flex;
}

.idea-header {
    display: flex;
    gap: var(--space-xs);
    justify-content: space-between;
}

.divided-list-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    padding: var(--space-xs) 0;
    transition: background 0.2s;
}