.skill-tag {
    padding: var(--space-xs);
    border: var(--border-thickness) solid var(--border-color);
    border-radius: var(--elips-radius);
}

.tag-board {
    margin-top: var(--space-m);
}

.tag-item {
    display: flex;
    gap: var(--space-2xs);
}