{% extends 'base.html' %}
{% block title %}Создание идеи{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Создание идеи</h1>

    <form method="post" class="stack">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input type="text"-->
<!--               name="title"-->
<!--               id="title"-->
<!--               class="form-control"-->
<!--               required-->
<!--               autofocus-->
<!--               placeholder="title">-->
<!--        <textarea type="text"-->
<!--                  name="description"-->
<!--                  id="description"-->
<!--                  class="form-control"-->
<!--                  rows="5" cols="40"-->
<!--                  placeholder="description"></textarea>-->
<!--        <select type="select"-->
<!--                name="category"-->
<!--                id="category"-->
<!--                class="form-control"></select>-->
            <button type="submit" class="btn-link">Создать</button>
    </form>
</div>
{% endblock %}