<div class="divided-list-item">
    <div class="idea-item stack">

        <div class="title-box">
            <div class="cluster">
                <a href="{% url 'ideas:detail' pk=idea.pk %}" class="icon-link">
                    <h2 class="card-title idea-title-link">{{idea.title}}</h2>
                </a>
                <div class="status-badge status-{{ idea.status }}">
                    <p class="subtitle">{{idea.get_status_display}}</p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="idea-item-btns">
                <div class="link-box cluster">
                    <svg class="icon icon-link" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                         viewBox="0 0 24 24"><title
                            xmlns="">subscribe</title>
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                           stroke-width="1.5">
                            <path d="M3 13c3.6-8 14.4-8 18 0"/>
                            <path fill="currentColor" d="M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6"/>
                        </g>
                    </svg>
                    <div class="idea-meta cluster">
                        {% include 'partials/like_button.html' with idea=idea is_liked=idea.is_liked %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {%if idea.about%}
        <div class="idea-item-about">
            <p>{{idea.about}}</p>
        </div>
        {%endif%}

        <div class="idea-info-block">
            <div class="tag-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     viewBox="0 0 24 24"><title
                        xmlns="">category</title>
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 4h6v6H4zm10 0h6v6h-6zM4 14h6v6H4zm10 3a3 3 0 1 0 6 0a3 3 0 1 0-6 0"/>
                </svg>
                <p class="subtitle">{{idea.category}}</p>
            </div>

            <div class="tag-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     viewBox="0 0 24 24"><title
                        xmlns="">up-line</title>
                    <g fill="none" fill-rule="evenodd">
                        <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M11.293 8.293a1 1 0 0 1 1.414 0l5.657 5.657a1 1 0 0 1-1.414 1.414L12 10.414l-4.95 4.95a1 1 0 0 1-1.414-1.414z"/>
                    </g>
                </svg>
                <p class="subtitle">{{ idea.likes_count }}</p>
            </div>

            <div class="tag-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     viewBox="0 0 24 24"><title
                        xmlns="">eye-solid</title>
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                       stroke-width="1.5">
                        <path d="M3 13c3.6-8 14.4-8 18 0"/>
                        <path fill="currentColor" d="M12 17a3 3 0 1 1 0-6a3 3 0 0 1 0 6"/>
                    </g>
                </svg>
                <p class="subtitle">421</p>
            </div>

            <div class="tag-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     viewBox="0 0 24 24"><title
                        xmlns="">time-line</title>
                    <g fill="none">
                        <path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                        <path fill="currentColor"
                              d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 2a1 1 0 0 1 .993.883L13 7v4.586l2.707 2.707a1 1 0 0 1-1.32 1.497l-.094-.083l-3-3a1 1 0 0 1-.284-.576L11 12V7a1 1 0 0 1 1-1"/>
                    </g>
                </svg>
                <p class="subtitle">created at {{idea.created_at|date:"d.m.y"}}</p>
            </div>
            <div class="tag-item">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                     viewBox="0 0 24 24"><title
                        xmlns="">person-outline-rounded</title>
                    <path fill="currentColor"
                          d="M9.175 10.825Q8 9.65 8 8t1.175-2.825T12 4t2.825 1.175T16 8t-1.175 2.825T12 12t-2.825-1.175M4 18v-.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13t3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2v.8q0 .825-.587 1.413T18 20H6q-.825 0-1.412-.587T4 18m2 0h12v-.8q0-.275-.137-.5t-.363-.35q-1.35-.675-2.725-1.012T12 15t-2.775.338T6.5 16.35q-.225.125-.363.35T6 17.2zm7.413-8.587Q14 8.825 14 8t-.587-1.412T12 6t-1.412.588T10 8t.588 1.413T12 10t1.413-.587M12 18"/>
                </svg>
                <a href="{% url 'users:profile' username=idea.author.username%}">
                    <p class="subtitle">author: <span class="icon-link">{{idea.author.username}}</span></p>
                </a>
            </div>
        </div>
    </div>
</div>