{% load static %}

<button
        hx-post="{% url 'likes:switch_like' content_type object_id %}"
        hx-target="this"
        hx-swap="outerHTML"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="like-btn text-cluster"
        type="button">
    {% if not is_liked %}
    <svg class="icon icon-link positive like-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
         viewBox="0 0 16 16">
        <path fill="currentColor"
              d="M4.957 10.998a1 1 0 0 1-.821-1.571l2.633-3.784a1.5 1.5 0 0 1 2.462 0l2.633 3.784a1 1 0 0 1-.821 1.571z"/>
    </svg>
    {% else %}
    <svg class="icon icon-link negative like-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
         viewBox="0 0 16 16">
        <path fill="currentColor"
              d="M4.957 10.998a1 1 0 0 1-.821-1.571l2.633-3.784a1.5 1.5 0 0 1 2.462 0l2.633 3.784a1 1 0 0 1-.821 1.571z"/>
    </svg>
    {% endif %}
    {% if likes_count > 0 %}
    <span>{{ likes_count }}</span>
    {% endif %}
</button>