{% extends 'base.html' %}
{%block title%} Login {%endblock%}

{% block content %}


<div class="card stack clamp-card">
    <h1>Login</h1>
    <form method="post" class="stack">
        {% csrf_token %}

        <input type="text"
               name="username"
               id="id_username"
               class="form-control"
               required
               autofocus
               autocomplete="username"
               placeholder="username or email">


        <input type="password"
               name="password"
               id="id_password"
               class="form-control"
               required
               autocomplete="current-password"
               placeholder="password">


        <button type="submit" class="btn btn-primary btn-link">Войти</button>
    </form>
</div>

{% endblock %}

