{% extends 'base.html' %}
{%block title%} SignUp {%endblock%}

{% block content %}
<div class="card stack clamp-card">
    <h1>SignUp</h1>
    <form method="post" class="stack">
        {% csrf_token %}
        <input type="text"
               name="username"
               id="id_username"
               class="form-control"
               required
               autofocus
               autocomplete="username"
               placeholder="username">

        <input type="text"
               name="email"
               id="id_email"
               class="form-control"
               required
               autofocus
               autocomplete="email"
               placeholder="email">

        <input type="password"
               name="password1"
               id="id_password1"
               class="form-control"
               required
               autocomplete="new-password"
               placeholder="password">

        <input type="password"
               name="password2"
               id="id_password2"
               class="form-control"
               required
               autocomplete="new-password"
               placeholder="confirm password">

        <button type="submit" class="btn btn-primary btn-link">Sign up</button>
    </form>
</div>
{% endblock %}