@import url(reset.css);
@import url(const.css);

.role-list-item{
    padding: var(--space-m);
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
}
.skill-tag{
    padding: var(--space-xs);
    border: 1px solid var(--border-color);
    border-radius: 20px;
}
.tag-board{
    margin-top: var(--space-m);
}

.idea-list-board{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
}

.idea-title-link{
    color: var(--link-color);
}
.idea-title-link:hover{
    text-decoration: underline ;
}

.title-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-content: center;
}

.link-box{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: var(--space-xs);
}


.expandable-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    word-break: break-word;
}

.expandable-text.expanded {
    -webkit-line-clamp: unset;
    display: block;
}

.expandable-text:hover {
    border-bottom: 2px solid var(--link-color);
}

.expandable-text::after {
    content: '⌄';
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--fs-xl);
    color: var(--link-color);
    opacity: 0;
    transition: opacity 0.2s;
}

.expandable-text:hover::after {
    opacity: 1;
}

.expandable-text.expanded::after {
    content: '⌃';
}