@import url(reset.css);
@import url(const.css);
@import url(header.css);
@import url(toast-message.css);
@import url(compositions.css);
@import url(primitives.css);

body {
    background: var(--bg-primary);
    color: var(--text-primary);
    font-family: "Segoe UI", system-ui, sans-serif;
}

header{
    padding: var(--container-padding);
    border-bottom: 1px solid var(--border-color);
}

input,
textarea,
select{
    height: var(--input-height);
    padding: 0 10px;
    background: none;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

select option {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

input:-webkit-autofill {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-primary);
}

.debug-layout * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
  background: rgba(0, 0, 255, 0.05) !important;
}

.card{
    padding: var(--space-xs);
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.list-item{
    padding: var(--space-m);
    border-top: 1px solid var(--border-color);
    justify-content: space-between;
}
.subtitle{
    font-size: var(--fs-xs);
}

.card-title{
    font-size: var(--fs-xl);
    font-weight: var(--fw-medium);
}

.list-item:hover .card-title{
    color: var(--link-color);
}

.status-indicator{
    padding: 0 8px;
    border: 1px solid var(--border-color);
    border-radius: var(--elips-radius);
}