
.header {
    background: var(--bg-secondary);
    border: var(--border-thickness) solid var(--bg-tertiary);
}

.header h1 {
    font-size: var(--fs-hero);
    font-stretch: condensed;
}

.header-block {
    justify-content: space-between;
    margin: var(--space-2xl);
}

.grid-title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--space-m);
}